@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.journal_body {
    width: 550px;
    min-height: 625px;

    background: linear-gradient(#42275a, #734b6d);

    border: 1px solid #AA076B;
    border-radius: 5px 5px 5px 5px;
}

.journal_title {
    font-family: 'Itim', cursive;
    font-size: 35px;
    text-align: center;
}